body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: #CFB4B4;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #E7C8C8;
  padding: 25px;
  border-radius: 1rem;
  box-shadow: 0 1.25rem 2rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 320px; text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5px;
}

.edit-header{
  margin-bottom: 0;
}

.searchBar{
  text-align: right;
  margin: 0 10px 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* This aligns the items to the right side of the container */
  gap: 10px; /* Adds a 10px gap between the buttons */
}
.button-container button {
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 12px;
  border: 1px solid #444;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
}

.button-container button:hover {
  background-color: #ddd;
}

h2 {
  text-align: left;
  margin: 0;
}

form {

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  text-align: left;
}

.form label, p {
  font-size: 0.9em;
  text-align: left;
}
.form a{
  text-decoration: underline;
  text-align: left;
  color: #4f46e5;
}

form hr {
  border-top: 1px solid lightgray; /* A slightly thicker, more visible line */
  margin: 3px 0; /* Adjust spacing as needed for form separation */
}

.form input,
.form select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.95em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cancel {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.create,.search, .continue {
  background-color: #a06c6c;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.continue:disabled {
  cursor: not-allowed;
}


.password-box {
  position: relative;
}
.password-box input{
  width: 95%;
}
.password-box i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}

.required_length{
  margin:0;
  color: grey;
  font-size: x-small;
  display: none;
}

.not_matched{
  margin: 0;
  color: darkred;
  display: none;
}

#togglePass{
  float: right;
  cursor: pointer;
}